.standard-button {
    cursor: pointer;
    border: 1px solid #012169;
    display: inline-block;
    font-weight: 500;
    padding: 6px 15px 6px 15px;
    text-align: center;
    user-select: none;
    color: #012169;
    background-color: #fff;
}

.disabled {
    background-color: #f0f0f0;
    color: #b0b0b0;
    border-color: #b0b0b0;
    pointer-events: none;
}

.standard-button:hover {
    color: #2f4984;
}

.button-blue {
    background: #012169 !important;
    border-color: #012169 !important;
    color: white !important;
}

.button-red {
    background: #d20a14 !important;
    border-color: #d20a14 !important;
    color: white !important;
}

.button-blue:hover {
    background-color: #2f4984 !important;
}