.uploaded-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
}
.upload-image-logo {
    width: 40px
}

.upload-file-container {
    text-align: center;
    border: 3px dashed #012169;
    padding: 1.5rem;
    position: relative;
    cursor: pointer;
}

.upload-file-container h3{
    font-size: 10px;
}

.upload-file-container p {
    font-size: 0.87rem;
    margin-top: 10px;
    color: #888;
}

.upload-file-container input {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}